.hidden {
	display: none;
}

* {
	box-sizing: border-box;
}
/*found on https://stackoverflow.com/questions/6970082/my-css-gradient-doesnt-stretch-it-repeats*/
/*If you want the gradient to stretch the entire height of the page:*/
html {
	
	min-height: 100%;
}

/* this is from https://www.w3schools.com/css/css3_gradients.asp */
.background-color {
	background-size: cover;
	background-repeat: no-repeat;
	background: orange;
	background: -webkit-linear-gradient(blue,purple); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(blue,purple); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(blue,purple); /* For Firefox 3.6 to 15 */
    background: linear-gradient(to bottom right, purple, blue, orange); /* Standard syntax */
}

header, body {
	text-align: center;
	color: white;
	margin: 0;
    height: 100%;
    width: 100%;
}



.welcome {
	
	font-family: 'Kaushan Script', cursive;

}

.myButton {
	background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #c7456e), color-stop(1, #2a65bd));
	background:-moz-linear-gradient(top, #c7456e 5%, #2a65bd 100%);
	background:-webkit-linear-gradient(top, #c7456e 5%, #2a65bd 100%);
	background:-o-linear-gradient(top, #c7456e 5%, #2a65bd 100%);
	background:-ms-linear-gradient(top, #c7456e 5%, #2a65bd 100%);
	background:linear-gradient(to bottom, #c7456e 5%, #2a65bd 100%);
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#c7456e', endColorstr='#2a65bd',GradientType=0);
	background-color:#c7456e;
	-moz-border-radius:28px;
	-webkit-border-radius:28px;
	border-radius:28px;
	border:3px solid #8b2ca3;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:Verdana;
	font-size:22px;
	font-weight:bold;
	padding:16px 31px;
	text-decoration:none;
	text-shadow:-3px 4px 2px #2f6627;
}
.myButton:hover {
	background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #2a65bd), color-stop(1, #c7456e));
	background:-moz-linear-gradient(top, #2a65bd 5%, #c7456e 100%);
	background:-webkit-linear-gradient(top, #2a65bd 5%, #c7456e 100%);
	background:-o-linear-gradient(top, #2a65bd 5%, #c7456e 100%);
	background:-ms-linear-gradient(top, #2a65bd 5%, #c7456e 100%);
	background:linear-gradient(to bottom, #2a65bd 5%, #c7456e 100%);
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#2a65bd', endColorstr='#c7456e',GradientType=0);
	background-color:#2a65bd;
}
.myButton:active {
	position:relative;
	top:1px;
}

.sunrise{
	background-color: #dfd056;
	color: #000;
	width: 50%;
	margin: auto;
	font-weight: bold;
	padding: 10px;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;	
	font-size:x-large;
	vertical-align: middle;
}

	/*font-family: 'Permanent Marker', cursive;
	font-family: 'Righteous', cursive;
	font-family: 'Alfa Slab One', cursive;*/